# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
logs

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
.env

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
pytest_cache/

# Logs
detected_objects.txt
models/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
